*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 40%;
   
    background: rgb(46, 126, 197);
}


.username{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.dp{
    background-color: red;
    border: 1px solid white;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
}
.name{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    font-weight: 400;
}