*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.leftheader{
    background-color: #15141d;
    width: 30%;
    margin-right: 1px;
}
#logo h2{
    color: white;
    padding: 1em 1.2em;
    cursor: pointer;
    display: inline-block;
}
