header{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding:0.6em 3em;
    width: 100%;
   
}
nav{
    display: flex;
    gap: 3em;
    align-items: center;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 4em;
}
li a{
    text-decoration: none;
    color: rgb(245, 223, 223);
    font-size: 22px;

}
h2 span{
    color: #ff5d5d;
}
.join{
    padding: 0.7em 1.5em;
    background-color: #ff5d5d;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.join:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 93, 93, 0.6);
}